@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  width: 100%;
  padding: 0;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CEB992;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #CEB992;
  text-decoration: underline dotted;
  margin-left: 2rem;
}
.container {
  width: 80%;
  padding: 1%;
  background-color: #28587B;
  border-radius: 10px;
}
h1 {
  text-align: center; color: white;
}
h3 {
  font-weight: normal!important;
}
span {
  color:white;
}
table {
  border-collapse: collapse; border-spacing: 0;
}
table td:nth-child(2) {
  border-left: 3px solid #CEB992;
  width: 50%;
}
table td {
  padding: 0.3rem 2rem;
}
.table-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  padding: 1.5rem 0 0 0;
}
.hl {
  color: white;
}
.indented {
  margin-left: 1rem;
}
